@function px2rem($px, $base-font-size: 75px) {
  @return ($px / $base-font-size) * 1rem;
}

$btn-font-color: #fff;
$btn-del-color: #fb0f32;
$btn-color: #578ffe;
$btn-font-size: 12px;
$border: px2rem(2px) solid #ececec;