$icomoon-font-path: "fonts" !default;

$icon-add: "\e900";
$icon-addFont: "\e901";
$icon-changeProd: "\e902";
$icon-clear: "\e903";
$icon-color: "\e904";
$icon-delete: "\e905";
$icon-enlarge: "\e906";
$icon-move: "\e907";
$icon-next: "\e908";
$icon-picture: "\e909";
$icon-share: "\e90a";
$icon-tips: "\e90b";
$icon-t-shirt: "\e90c";
$icon-upload: "\e90d";
$icon-withdraw: "\e90e";

